.banner1 {
    width: 100%;
    height: 20vh;
    background-color: blue;
    margin-top: 3%;
    }
    
    .banner2-container {
        width: 100%;
        height: 13vh;
        background-color: yellow;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .banner2 {
        width: 95%;
        height: 60%;
        background-color: red;
    }