#burgerMenu {
    background-color: transparent;
    color: var(--grey);
    border: 0;
    font-size: 1.3rem;
    cursor: pointer;

}

#cart-button {
    position: relative;
    cursor: pointer;
}

#cart-button:after {
    content: attr(data-price);
    font-size: 0.7em;
    position: absolute;
    top: 25%;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 0.2em;
}

#search-button {
    cursor: pointer;
}

#heart-button  {
    cursor: pointer;
}