#burgerMenu {
    background-color: transparent;
    color: var(--white);
    border: 0;
    font-size: 1.3rem;
    cursor: pointer;

}

#cartButton {
    background-color: transparent;
    color: var(--white);
    font-size: 1.5rem;
    border: 0;    
    cursor: pointer;
}

#profileButton {
    display: none;
    border: 0;
    background-color: transparent;
    color: var(--white);
    font-size: 1.3rem;
}

#notificationButton {
    display: none;
    border: 0;
    background-color: transparent;
    color: var(--white);
    font-size: 1.3rem;
}