@charset "UTF-8";


* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
    font-size: 100%;
}

@font-face {
    font-family: 'NIKEA',  'Arial', 'sans-serif';
    src: url(fonts/NIKEA.otf);
}

@font-face {
    font-family: 'Montserrat', 'Arial', 'sans-serif';
    src: url(fonts/Montserrat-VariableFont_wght.ttf);
}

:root {
    --black: #141414;
    --white: #FCFCFC;
    --grey: #797270;
    --lightGrey: #FAFAFA;
}

header {
    background-color: var(--black);
    width: 100%;
    height: 8em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#menu {
    width: 90%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}



#logo {
    width: 190px;
    height: 50px;
    padding-left: 1em;
}

#search-bar-container2 {
    width: 90%;
    height: 30%;
    display: flex;
    position: relative;
}

#search-bar {
    display: none;
    background-color: var(--white);
    width: 95%;
    height: 85%;
    border: 1px solid black;
    padding-left: 5px;
}

#search-bar2 {
    display: flex;
    background-color: var(--white);
    width: 95%;
    height: 85%;
    border: 1px solid black;
    padding-left: 5px;
}

#s {
    display: none;
    position: absolute;
    right: 1.2em;
    top: 0.8em;
}


#s2 {
    position: absolute;
    right: 5%;
    top: 25%;
    cursor: pointer;
}

#menu2 {
    width: 100%;
    height: 7%;

}

#home {
    display: none;
}

#menu2 > ul {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    gap: 1em;
    font-size: 1.17rem;
    font-family: 'Montserrat', 'Arial', 'sans-serif';
    font-weight: 450;
}

a {
    text-decoration: none;
    color: var(--black);
}

.products-container {
    width: 100%;
    height: 6.5em;
    display: flex;
    justify-content: center;
    padding-top: 1em;
    gap: 25px 5px;
    flex-wrap: wrap;
    margin-top: 1em;
    padding: 0 0 30px 0;    
}

.products-container2 {
    width: 100%;
    height: 6.5em;
    display: flex;
    justify-content: center;
    padding-top: 1em;
    gap: 25px 5px;
    flex-wrap: wrap;
    margin-top: 1em;
    padding: 0 0 30px 0;    
}

.products-container2 > .item {
    width: 30%;
    height: 100%;
}

.item {
    width: 30%;
    height: 100%;
    border: 1px solid black;
    position: relative;
}

.item::before {
    content: attr(data-price);
    display: block;
    font-size: 0.9em;
    color: var(--black);
    position: absolute;
    bottom: -1.4em;
  }


  
.item::after {
    content: attr(data-stars);
    display: block;
    font-size: 0.9em;
    color: var(--black);
    position: absolute;
    bottom: -1.4em;
    padding-left: 4em;
  }

footer {
    background-color: var(--lightGrey);
    padding-left: 1em;
    margin-top: 10em;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: top;
    padding-top: 1em;
}

footer > ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

footer {
    position: relative;
}

footer h4 {
    cursor: pointer;
}

footer > ul > li > h4 > a::after {
 content: "\f061";
 font-family: "Font Awesome 6 Free";
 color: var(--grey);
 position: absolute;
 right: 2em;
}


#banner1 {
    width: 100%;
    height: 30%;
    background-color: red;
}

#banner2 {
    width: 90%;
    height: 10%;
    background-color: yellow;
    margin-top: 3em;
    margin-left: 1em;
}