#logo {
    width: 142px;
    height: 120px;
}

#menu {
  justify-content: space-around;  
}

#banner1 {
    height: 260px;
}

#burgerMenu {
    display: none;
}

#profileButton {
    display: inline-block;
}

#notificationButton {
    display: inline-block;
}

#menu > ul {
    display: flex;
    gap: 1em;
}

#search-bar-container {
    display: flex;
    width: 100%;
    height: 50px;
    position: relative;
    }

#search-bar-container2 {
display: none;
}

#search-bar {
    display: flex;
}

#search-bar2 {
    display: none;
}

#s2 {
    display: none;
    position: none;
    right: 5%;
    top: 25%;
    cursor: pointer;
}

#s {
    display: flex;
    position: absolute;
    right: 1.2em;
    top: 0.8em;
}

.products-container {
    margin: 4em 0 4em 0;
    height: 13%;
    gap: 5em 2em;
    background-color: grey;
}

.products-container2 {
    width: 100%;
    height: 6.5em;
    display: flex;
    justify-content: center;
    padding-top: 1em;
    gap: 5em 2em;
    flex-wrap: wrap;
    margin-top: 1em;
    padding: 0 0 30px 0;    
}

.products-container2 > .item {
    width: 121px;
    height: 134px;
}

.products-container2 > .item::after {
    padding-left: 4em;
}


.item {
    width: 145px;
    height: 196px;
}

.item::before {
    content: attr(data-price);
    display: block;
    font-size: 1em;
    color: var(--black);
    position: absolute;
    bottom: -1.4em;
  }


  
.item::after {
    content: attr(data-stars);
    display: block;
    font-size: 1em;
    color: var(--black);
    position: absolute;
    bottom: -1.4em;
    padding-left: 5em;
  }
  
footer {
    margin-top: 25em;
}