#logo {
    width: 142px;
    height: 120px;
}

#menu {
  justify-content: space-around;  
}



#burgerMenu {
    display: none;
}

#profileButton {
    display: inline-block;
}

#notificationButton {
    display: inline-block;
}

#menu > ul {
    display: flex;
    gap: 1em;
}

#search-bar-container {
    display: flex;
    width: 100%;
    height: 50px;
    position: relative;
    }

#search-bar-container2 {
display: none;
}

#search-bar {
    display: flex;
}

#search-bar2 {
    display: none;
}

#s2 {
    display: none;
    position: none;
    right: 5%;
    top: 25%;
    cursor: pointer;
}

#s {
    display: flex;
    position: absolute;
    right: 1.2em;
    top: 0.8em;
}

#products-container {
    margin: 4em 0 4em 0;
    height: 13%;
    gap: 5em 2em;
    background-color: grey;
}

.item {
    width: 30%;
    height: 12.25em;
}

.item::before {
    content: attr(data-price);
    display: block;
    font-size: 1em;
    color: var(--black);
    position: absolute;
    bottom: -1.4em;
  }


  
.item::after {
    content: attr(data-stars);
    display: block;
    font-size: 1em;
    color: var(--black);
    position: absolute;
    bottom: -1.4em;
    padding-left: 11em;
  }
  
footer {
    margin-top: 25em;
}