header {
    width: 100%;
    height: 10vh;
    display: flex;
    background-color: red;
    align-items: center;
    justify-content: center;
}

#menu {
    width: 95%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30%;
    }
    
#menu2 {
    background-color: aquamarine;
    display: flex;
    width: 100%;
}

#menu2 > ul {
    background-color: yellowgreen;
    display: flex;
    gap: 1em;
    list-style-type: none;
    width: 100%;
    justify-content: center;
    text-align: center;
}


#menu2 > ul li a {
    text-decoration: none;
    font-family: 'Montserrat';
    color: var(--black);

}

#logo {
    width: 40%;
    height: auto;
}

#buttons-container {
    display: flex;
    gap: 1em;
    margin-left: 0.4em;
}
 
.banner1 {
    height: 30vh;
}

.banner2-container {

}

.grid-container {
    width: 80%;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em auto;
    background-color: crimson;
    }
    
    .grid-products-container {
    width: 100%;
    height: 90%;
    background-color: chocolate;
    display: grid;
    grid-template-columns: 2fr 1.5fr 1.5fr;
    gap: 1em;
    justify-content: center;
    }
    

.smallitem {
 background-color: darkred;
 width: 80%;
 max-height: 80%;
}

.smallitem2 {
background-color: rgb(243, 0, 0);
 width: 80%;
 max-height: 80%;
}
        
.mediumitem {
 background-color: cornflowerblue;
 grid-column: span 2;
max-width: 95%;
height: 80%;
}

.largeitem {
    background-color: pink;
    grid-row: span 2;
 height: 90%;

}

.products-container {
    background-color: black;
    display: flex;
    width: 100%;
    height: 30vh;
    gap: 1em;
    justify-content: center;
    align-items: center;
}

.item {
    width: 30%;
    height: 80%;
    background-color: red;
}

@media (max-height: 450px) {
    header {
        height: 30vh;
    }

#menu {
    gap: 4em;
}

#buttons-container {
    gap: 1.3em;
}

    .banner1 {
        height: 40vh;
    }

    .banner2-container {
        height: 30vh;
    }

    .products-container {
        height: 70vh;
    }


}

@media (min-width: 600px) {
    header {
        background-color: purple;
        height: 15vh;
    }

    .banner1 {
        min-height: 40vh;
    }

    .banner2-container {
        height: 25vh;
    }

}


@media (min-height: 1200px) {
    
    .products-container {
        background-color: purple;
        display: flex;
        width: 100%;
        height: 70vh;
        gap: 1em;
        justify-content: center;
        align-items: center;
    }
}


@media (orientation: landscape) {
    .grid-container {
        height: 80vh;
        display: flex;
        }

        .banner1 {
            height: 30vh;
            
        }

        .products-container {
            background-color: purple;
            height: 60vh;
        }
        
        .item {
            width: 30%;
            height: 80%;
            background-color: red;
        }
        

}